<div class="side-menu">
  <div class="list-group">
    <a class="list-group-item list-group-item-action" (click)='openCard("Pulpit")' routerLink="/dashboard" routerLinkActive="active">Pulpit</a>
    <a class="list-group-item list-group-item-action" (click)='openCard("Lista graczy")' routerLink="/players" routerLinkActive="active">Lista graczy</a>
    <a class="list-group-item list-group-item-action" (click)='openCard("Wyniki")' routerLink="/scores" routerLinkActive="active">Wyniki</a>
    <a class="list-group-item list-group-item-action" (click)='openCard("Zagraj")' routerLink="/play" routerLinkActive="active">Zagraj</a>
  </div>
</div>