<table class="table table-striped table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Nazwa</th>
        <th class="text-center">Wygrane</th>
        <th class="text-center">Przegrane</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players | async">
        <th class="text-center" scope="row">{{ player }}</th>
        <td class="text-center">{{ player.name }}</td>
        <td class="text-center">{{ player.wonMatchesCounter }}</td>
        <td class="text-center">{{ player.lostMatchesCounter }}</td>
      </tr>
    </tbody>
  </table>